<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqi.alumnisystem.mapper.AlumniMapper">

    <resultMap id="BaseResultMap" type="com.yuqi.alumnisystem.entity.Alumni">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="name" column="name" javaType="String"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="dbCreatedAt" column="db_created_at" jdbcType="TIMESTAMP"/>
            <result property="dbUpdatedAt" column="db_updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,description,
        url,deleted,db_created_at,
        db_updated_at
    </sql>

    <select id="listByUserId" resultType="com.yuqi.alumnisystem.dto.AlumniDto">
        SELECT
            `id`,
            `name`,
            `description`,
            `url`
        FROM
            `alumni`
        WHERE `deleted` = 0
        <if test="userId!=null">
            AND `user_id` = #{userId}
        </if>
    </select>
</mapper>
